@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: url(./images/bg-hero-desktop.svg) hsl(193, 100%, 96%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

nav{
    margin-bottom: 20px;
}

.nav-bar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-bar a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(183, 182, 182);
    font-family:"Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#hero nav{
    margin-bottom: 20px;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.left-hero{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-hero{
    width: 50%;
}

.left-hero h1{
    font-family:"Poppins";
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}

.left-hero p{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 20px;
}

.left-hero a{
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(183, 182, 182);
    font-family: "Opens Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.left-hero p{
    padding-bottom: 30px;
}

.right-hero img{
    width: 100%;
    padding: 15px;
}

#grow-2geda{
    padding-top: 100px;
}

#grow-2geda, #flow-convo, #user{
    padding-bottom: 20px;
}

.grow-2geda, .flow-convo, .user{
    min-height: 300px;
    box-shadow: 2px 2px 5px gainsboro, -2px -2px 5px gainsboro;
    border-radius: 5px;
}

.left-grow, .right-flow, .left-user{
    width: 50%;
    padding-left: 70px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.left-grow h2, .right-flow h2, .left-user h2{
    font-family:"Poppins";
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

.left-grow p, .right-flow p, .left-user p{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 20px;
    color: hsl(208, 11%, 55%);
}

.right-grow, .left-flow, .right-user{
    width: 50%;
    height: 100%;
    padding: 20px 20px 20px 60px;
}

.right-grow img, .left-flow img, .right-user img{
    width: 100%;
    height: 100%;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding-top: 100px;
    position: relative;
    margin-top: 200px;
    padding-bottom: 50px;
}

#bottom{
    position: absolute;
    top: -100px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bottom-container{
    box-shadow: 2px 2px 2px gainsboro,-2px -2px 2px gainsboro;
    display: inline-block;
    padding: 40px 70px;
    border-radius: 5px;
    margin-bottom: -50px;
    color: black;
    background-color: white;
}

.bottom-container h2{
    font-family: "Poppins",sans-serif;
    padding-bottom: 20px;
}

.bottom-container a{
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(183, 182, 182);
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.logo{
    margin-bottom: 10px;
}